//! variabili

//* bg color
$blue_bg: #1f1e38;
$opa_red_bg: #f81d39;
$int_red_bg: #f00e2e;
$int_maringreen_bg: #39ffbf;
$opa_maringreen_bg: #35ffbf;
$white_bg: #ffffff;

//* txt color
$white_txt: #ffffff;
$parag_grey_txt: #888888;
$title_grey_txt: #aaaaaa;
$dark_blue_txt: #1f1e38;

//* txt size
$title_sec_size: 20px;
$title_sec_size_max: 35px;




//! mixin'


@mixin sm_green_line {
    display: inline-block;
    height: 3px;
    width: 50px;
    margin:0 30px;
    background-color: #35ffbf;
}
@mixin title_sec_name {
    font-size: 45px;
    font-weight: bolder;
    margin-top: 20px;
}
@mixin form_section_90 {
    width: 90%;
    margin: auto;
    margin-top: 220px
}
@mixin form_section_left {
    width: 95%;
    margin-left: 0;
}
@mixin form_section_right {
    width: 95%;
    margin-left: 5%;
}
@mixin btn_red{

}
@mixin btn_maringreen{
    border: none;
    background-color: $int_maringreen_bg;
    padding: 22px 46px;
    font-size: 18px;
}
//! spaces

$margin_sec_top: 220px;


