//! variabili

//* bg color
$blue_bg: #1f1e38;
$opa_red_bg: #f81d39;
$int_red_bg: #f00e2e;
$int_maringreen_bg: #39ffbf;
$opa_maringreen_bg: #35ffbf;
$white_bg: #ffffff;

//* txt color
$white_txt: #ffffff;
$parag_grey_txt: #888888;
$title_grey_txt: #aaaaaa;

//* txt size
$title_sec_size: 20px;



//! mixin'


@mixin sm_green_line {
    display: inline-block;
    height: 3px;
    width: 50px;
    margin:0 30px;
    background-color: #35ffbf;
}


