//! variabili

//* bg color
$blue_bg: #1f1e38;
$opa_red_bg: #f81d39;
$int_red_bg: #f00e2e;
$int_maringreen_bg: #39ffbf;
$opa_maringreen_bg: #35ffbf;

//* txt color
$white_txt: #ffffff;
$parag_grey_txt: #888888;
$title_grey_txt: #aaaaaa


